@use "../../../css/mixins/mixins.scss" as m;

.main {
  width: 93%;
  margin: 0 auto;
  @include m.flex(start, space-between);
  flex-wrap: wrap;
  &__lead {
    margin-top: 85px;
    @include m.width(492px);
    flex-direction: column;
    align-self: start;
    .main__lead__socials {
      @include m.flex(center, start);
      gap: 20px;
      margin-top: 200px;
    }
    &__lead {
      @include m.font(20px, 24px, left, #1e1e1e);
      margin: 50px 0;
    }

    &__wrapper {
      @include m.flex(start);
      flex-direction: column;
      gap: 15px;

      .main__lead__button {
        border: 1px solid #ecaaa9;
        border-radius: 15px;
        @include m.width(251px);
        @include m.flex();
        @include m.font(20px, 24px, center, #ecaeab);
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      h2 {
        @include m.font(48px, 50px, center, #624cd2);
        font-weight: 700;
      }
    }

    &__link {
      text-decoration: none;
      @include m.font(20px, 24px, unset, #ffff);
      padding: 13px 20px;
      margin-top: 13px;
      font-weight: 700;
      background: linear-gradient(260deg, #854aa0 0%, #edaba9 105%);
      box-shadow: 0px 0px 10px rgba(111, 31, 191, 0.6);
      border-radius: 15px;
    }
  }

  &__image {
    position: relative;
    &__advantages {
      @include m.flex();
      flex-direction: column;
      &__advantage {
        @include m.flex();
        @include m.font(20px, 24px, center, #1e1e1e);
        align-self: baseline;
        padding-right: 51px;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-top: 13px;
        max-height: 50px;
        gap: 14px;
        background: #ffffff;
        box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: absolute;
        &:nth-of-type(1) {
          top: 211px;
          left: -120px;
        }
        &:nth-of-type(2) {
          top: 329px;
          right: 2px;
        }
        &:nth-of-type(3) {
          bottom: 134px;
          left: -185px;
        }
        &:nth-of-type(4) {
          bottom: 35px;
          right: 33px;
        }
      }
    }
    &__circle {
      background: #7659c7;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      position: absolute;

      &:nth-of-type(1) {
        top: 0px;
      }

      &:nth-of-type(2) {
        background: #ca605c;
        width: 100px;
        height: 100px;
        top: 423px;
        z-index: -1;
        left: -60px;
      }
    }

    &__rectangle {
      width: 112px;
      height: 112px;
      position: absolute;
      right: -22px;
      top: 125px;
    }
  }
}

@media screen and (max-width: 767px) {
  .main__lead__socials {
    display: none !important;
  }

  .main {
    position: relative;
    align-items: center;
    justify-content: center;
    &__lead {
      margin: 0;
      &__lead {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        position: absolute;
        text-align: center;
        bottom: 57px;
        z-index: 99;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &__link {
        @include m.width(350px);
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        position: absolute;
        bottom: -51px;
        z-index: 99;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      &__wrapper {
        justify-content: center;
        align-items: center;
        gap: 0;
        .main__lead__button {
          align-self: start;
          order: 2;
          @include m.width(80px);
          font-size: 8px;
          line-height: 10px;
          margin-top: -5px;
          margin-left: 30px;
        }
        h2 {
          font-size: 30px;
          line-height: 50px;
        }
      }
    }
    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__circle {
        display: none;
      }
      &__rectangle {
        display: none;
      }
      &__advantages {
        margin-top: -25px;
        order: 2;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        &__advantage {
          position: unset;
          font-size: 12px;
          font-weight: 300;
          line-height: 14px;
          padding: 0;
          padding-top: 4px;
          padding-bottom: 6px;
          gap: 7px;
          &:nth-of-type(1) {
            @include m.width(130px);
            order: -1;
          }
          &:nth-of-type(2) {
            @include m.width(117px);
            order: 3;
          }
          &:nth-of-type(3) {
            @include m.width(164px);
            order: 0;
          }
          &:nth-of-type(4) {
            @include m.width(180px);
            order: 4;
          }
          .advantage__icon {
            max-width: 15px;
            max-height: 15px;
          }
        }
      }
    }
    &__mainimage {
      margin-top: -55px;
      max-width: 252px;
      max-height: 320px;
    }
  }
}
