@use "../../css/mixins/mixins.scss" as m;

.contacts {
  @include m.flex(center, start);
  &__text-wrapper {
    margin-top: 50px;
    @include m.flex();
    flex-direction: column;
    gap: 50px; 
    @include m.width(401px);
    margin-left: -40px;
  }
  &__link {
    @include m.width(400px); 
    @include m.flex();
    @include m.font(20px, 24px, center, #624cd2);
    text-decoration: none;
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(111, 31, 191, 0.6);
    border-radius: 15px;
    background: #fff;
  }
}
